.to-do {
    width: 1500px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.a {
    padding-top: 10px;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.b {
    width: 1000px;
    margin: 0 auto;
}
